@model CustomModelBindingDemo.Models.User

@{
    ViewBag.Title = "ComplexObjectForm";
}

<h2>ComplexObjectForm</h2>
@using (Html.BeginForm("ComplexObjectForm","Home"))
{
    <p>
       @Html.LabelFor(m => m.FirstName) 
       @Html.EditorFor(m => m.FirstName)
    </p>
    <p>
       @Html.LabelFor(m => m.LastName) 
       @Html.EditorFor(m => m.LastName)
    </p>
    <p>
       @*@Html.LabelFor(m => m.DateOfBirth) class="text-box single-line"  *@
       @*<input id="dateofbirth" class="date-field" name="DateOfBirth" type="text" />*@
    <p>
       <label>Date of birth</label> 
       <label for="DOBday">Day</label> 
       <label for="DOBMonth">Month</label> 
       <label for="DOByear">Year</label>
       <input id="DOBday" name="DOBday" type="text" value="" />       
       <input id="DOBmonth" name="DOBmonth" type="text" value="" />        
       <input id="DOByear" name="DOByear" type="text" value="" />
    </p>
    </p>
    <p>
       <input name="roles" type="checkbox" value="Manager" /> Manager<br />
       <input name="roles" type="checkbox" value="Editor" /> Editor<br />
       <input name="roles" type="checkbox" value="Contributor" /> Contributor<br />
    </p>
    <p><input type="submit" /></p>
}

<script type="text/javascript">
    $().ready(function () {
        $('#dateofbirth').datepicker({
            dateFormat: 'MM d, yy',
            changeMonth: true,
            changeYear: true
        });
    });
</script>
